{{#with data}}
  <div class="item-card">
    <img src="{{img}}" alt="{{title}}" class="item-card__image">
    <h2 class="item-card__title">{{title}}</h2>
    <p class="item-card__subtitle">{{description}}</p>

    {{#each category}}
      <span class="item-card__category item-card__category--{{id}}">{{text}}</span>
    {{/each}}
    <a href="/purchase-item?id={{id}}">
      {{> button text="Купити зараз" price=price}}
    </a>
  </div>
{{/with}}




